<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://frozen-anchorage-8227.herokuapp.com/">ChemTa</a>
  is a revolutionary social network, intended to get you closer with all your friends.
</p>