<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p class="staticP">
  <%= link_to "ChemTa", root_path %>
  is a revolutionary social network, intended to get you closer with all your friends around the world.
</p>