<% provide(:title, 'Help') %>
<h1>Help</h1>
<ul class="nav nav-tabs nav-stacked">
	<li><a href="#">How can I sign up to the page?</a></li>
	<li><a href="#">It won't let me sign in!</a></li>
	<li><a href="#">Can I change my password?</a></li>
	<li><a href="#">What is it new in the page?</a></li>
	<li><a href="#">How can I change my name and email?</a></li>
	<li><a href="#">The page I am looking for is not found?</a></li>
	<li><a href="#">Other help..</a></li>
	<li><a href="#">Other help..</a></li>
</ul>