<div class="center hero-unit">
  <h1>Welcome to ChemTa</h1>

  <h2>
    The new world of social networks.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>