<footer class="footer">
  <small>
    Follow us on <a href="https://twitter.com/JoseTapiz">Twiter</a>.<br/>
    Created by Jose Tapizquent
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com">Twitter</a></li>
    </ul>
  </nav>
</footer>